<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[左吐舌]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_1.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抿嘴]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_2.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[开怀]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_3.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[畅怀]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_4.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[呲牙]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_5.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[瞅]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_6.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[害怕]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_7.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[闭嘴]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_8.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[右吐舌]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_9.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[酷]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_10.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[挤眼]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_11.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[淡然]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_12.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[黑脸]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_13.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[怀疑]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_14.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[晕菜]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_15.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[感动]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_16.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[斗眼]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_17.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[呆]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_18.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[无语]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_19.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[酷笑]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_20.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[酷牙]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_22.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[不爽]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_23.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[装酷]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_24.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[挤眼笑]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_25.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[眨眼]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_26.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[花痴]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_27.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[桃花]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_28.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[哭泣]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_29.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[白痴]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_30.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[汗]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_31.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[喊]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_32.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[笑]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_33.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[翻白眼]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_34.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[歪嘴]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_35.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鄙视]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_36.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[痴呆]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_37.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[小丑]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_38.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[喜悦]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_39.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[忍耐]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_40.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[心酸]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_41.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[窘迫]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_43.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[大吼]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_44.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[怒了]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_45.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[疑惑]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_46.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊叹]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_47.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[流泪]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_48.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[痛心]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>2_49.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
</array>
</plist>
