<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[哈哈]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_1.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[大笑]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_2.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[愉快]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_3.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[喜泣]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_4.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[傻笑]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_5.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[憨笑]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_6.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[微笑]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_7.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[可爱]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_8.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[脸红]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_9.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[调皮]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_10.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[淘气]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_11.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鬼脸]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_12.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吐舌]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_13.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[嘻嘻]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_14.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[超开心]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_15.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[思考]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_16.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[学霸]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_17.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[墨镜男]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_18.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[天使]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_19.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[打盹]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_20.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[真棒]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_22.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[好的]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_23.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[剪刀手]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_24.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[强壮]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_25.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[握拳]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_26.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鼓掌]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_27.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[祈祷]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_28.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[爱心]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_29.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[相爱]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_30.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[穿心]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_31.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[香吻]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_32.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[玫瑰]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_33.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[钻戒]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_34.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[钻石]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_35.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抱抱]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_36.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[花心]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_37.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[亲亲]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_38.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[亲嘴]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_39.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[笑吻]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_40.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[亲吻]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_41.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊喜]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_43.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊吓]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_44.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_45.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊愕]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_46.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[气愤]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_47.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[坏笑]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_48.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[冷]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_49.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[沉默]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_50.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[害羞]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_51.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[斜眼]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_52.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[糟糕]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_53.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[烦躁]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_54.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[生气]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_55.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[愤怒]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_56.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[不关心]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_57.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[纠结]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_58.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[绝望]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_59.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[悲惨]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_60.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[难过]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_61.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[沮丧]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_62.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[欢心]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_64.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[伤心]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_65.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[尴尬]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_66.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[糗死了]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_67.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[瞌睡]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_68.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[郁闷]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_69.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[大哭]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_70.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[生病]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_71.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[禁言]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_72.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[负伤]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_73.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[升温]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_74.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[嗜钱]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_75.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[白眼]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_76.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[囧]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_77.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[平和]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_78.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[切]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_79.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[呦]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_80.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[喔]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_81.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[盯]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_82.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[倒立]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_83.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[拳头]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_85.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[挥手]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_86.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[停]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_87.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[食指]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_88.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[不咋地]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_89.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[不开心]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_90.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[不高兴]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_91.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[心碎]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_92.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[上]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_93.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[下]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_94.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[右]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_95.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[左]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_96.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[猪头]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_97.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[恶魔]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_98.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[外星]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>1_99.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
</array>
</plist>
